@import '../helpers/mixins';
@import '../helpers/variables';

.grid {
  display: table;
  width: 100%;
  @include subclass-border-spacing(1);
  
  &.fixed {
    table-layout: fixed;
  }
  
  .cell-pre {
    @include offset-cells("left");
  }
  
  .cell-post {
    @include offset-cells("right");
  }
    
  @media #{$lg} {
    .cell-lg {
      @include divide-cells();
    }
  }
  
  @media #{$md} {
    .cell-md {
      @include divide-cells();
    }
  }
  
  @media #{$xs} {
    .cell-xs {
      @include divide-cells();
    }
  }
  
  @media #{$sm} {
    .cell-sm {
      @include divide-cells();
    }
  }

  
}
