@import '../helpers/mixins';
@import '../helpers/variables';

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;  
}

.grid {
  display: table;
  width: 100%;
  
  &.fixed {
    table-layout: fixed;
  }
    
  @media #{$lg}{
    .cell-lg {
      @include divide-cells();
    }
  }
  
  @media #{$md} {
    .cell-md {
      @include divide-cells();
    }
  }
  
  @media #{$xs}{
    .cell-xs {
      @include divide-cells();
    }
  }
  
  @media #{$sm}{
    .cell-sm {
      @include divide-cells();
    }
  }
  
  

  
}
