@import '../helpers/mixins';

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1080px;  
}

.grid {
  display: table;
  table-layout: fixed;
  width: 100%;
  
  
  .cell {
    @include divide-cells();
  }
}
